.navbar {
  background: #4a2f1e;
}
.fondo-cafe {
  background-image: url("../imagenes/jeremy-ricketts-6ZnhM-xBpos-unsplash.jpg");
  height: 100vh;
  background-size: cover;

  background-attachment: fixed;

  background-position: center center;

  background-repeat: no-repeat;
}
